* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;

}

.react-icons {
  vertical-align: middle;
}

.container {
  width: 100%;
  background-color: #f0f7fc;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.front_tittle{
  display: grid;
  grid-template-columns: max-content;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
  width: auto;
  height: 100vh;
  grid-gap: 1.5rem;
}

.front_tittle .front_form{
  border-radius: 25%;

}

.front_tittle .front_button{
  background: none;
  border: none;
}

.front_tittle .front_button:hover{
  cursor:pointer;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-evenly;
}

.header .header_content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.header .header_content .btn_location {
  border: none;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  background-color: #f0f7fc;
}


.header .header_content .header_name {
  text-align: center;
  color: black;
  font-size: 1.5rem;
  margin-right: 0.4rem;
}

.header .header_content .form {
  border: none;
  padding-top: 5vh;
}


.header .header_content .form .input {
  border: 1px solid #555;
  width: -webkit-fill-available;
  height: 4vh;
  border-radius: 12px;
  padding: 9px 4px 9px 40px;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
  background-color: white;
  color: #8f8f8f;
}

::placeholder {
  color: #e7dcf4;
  opacity: 1;
}

.bg_img{
  background: url('C:\Users\Patryk Styczyński\Desktop\Projekty\React\weatherapp\img\sky.jpg') center center/cover no-repeat;
  background-color: #f0f7fc;
  max-width: 100%;
  height: 100vh;
  
}

.weather_text {
  display: flex;
  margin: 3vh;
  color: black;
  font-weight: 600;
  font-size: 1.5rem;
  padding-left: 3rem;
  justify-content: space-evenly;

}

.content {

  height: auto;
}

.content .long_term_tittle{
  padding-top: 2rem;
  padding-left: 4rem;
}

.content .To_Day_Weather {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  background-color: white;
  width: 90%;
  margin: auto;
  border: 1px solid #dde8f0;

}

.content .To_Day_Weather .Weather_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1vh;
}

.Weather_icon{
  background-color: aquamarine;
  color: white;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin: 0.5rem;
}

.content .To_Day_Weather .To_Day_Weather_Main {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 500;
  margin: 1vh;
}

.content .To_Day_Weather .To_Day_Weather_box {
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
}

.content .To_Day_Weather .To_Day_Weather_box .To_Day_Weather_box_tittle {
  font-size: 0.9rem;
  color: #8f8f8f;
}

.content .Days {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  grid-gap: 0.1rem;
  list-style-type: none;
  align-items: center;
}

.content .Days .box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  border: solid;
  background-color: white;
  color: black;
  border: 1px solid #dde8f0;
  margin: 1.3rem;
  width: 90%;
  justify-content: space-between;
  justify-items: self-start;
}

.content .Days .box .box_day {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.9rem;
}
.content .Days .box .box_day p::first-letter{
  text-transform:capitalize;
}

.content .Days .box .box_day .long_grey_text{
  color: #8f8f8f;
}

.content .Days .box .box_day .box_icon{
  display: flex;
}

.content .Days .box .box_day .box_icon .icon{
  width: 1.3rem;
  height: 1.3rem;
  color: aquamarine;
}

.content .Days .box .box_body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 0.1rem;
}

.content .Days .box .box_body .tittle_text {
  font-size: 1.7rem;
  font-weight: bolder;
  padding-top: 0.5rem;
}

.content .Days .box .box_body img {
  width: 30%;
}

.content .Days .box .box_body .primary_text {
  font-size: 0.8rem;
}

.content .Days .box .box_body .secondary_text {
  font-size: 0.8rem;
  font-weight: bold;
}

.content .Days .box div {
  padding: 1.3rem;
}

.button {
  width: 35px;
  height: 35px;
}

@media(max-width: 768px) {
  .header{
    flex-direction: column;
    align-items: center;
  } 

  .header .header_content:nth-child(2){
    padding-top: 1.2rem;
  }

  .content .Days .box {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

@media(max-width: 600px) {
  .content .To_Day_Weather{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

.header .header_content:nth-child(1){
  flex-direction: column;
}

.weather_text{
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.weather_text .header_name{
  padding-top: 1.2rem;
}

.content .Days .box{
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.content .long_term_tittle{
  padding-left: 0;
  text-align: center;
}
}
